/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.aui body {
    /* background-color: #ebebeb; */
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.85em;
}

/*** Override ********/
a.portlet-icon-back{
	display:none;
}